/*Selector de tipo*/
div {
    width: 250px;
    height: 250px;
    background-color: orange;
}

p {
    color: orange;

}

/*Selector de clase*/
.caja {
    width: 150px;
    height: 150px;
    background-color: rgb(10, 100, 50);
}

.otra_caja {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 255, 0.4);
}

.una_caja_mas {
    width: 150px;
    height: 150px;
    background-color: #1ecbe1
}

.capibara {
    width: 150px;
    height: 150px;
    background-color: hsl(0, 100%, 50%)
}


/*Selector universal*/
* {
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

/*Selector de ID*/
#soy_unico {
    width: 150px;
    height: 150px;
    background-color: aqua;
}

/*Selector de atributo*/
a[title] {
    color: red;
}

button:hover {
    background-color: blue;
    color: white;
}

input:disabled {
    background-color: rgb(0, 0, 0);
}

/*Pseudo Elementos*/
p::first-line {
    color: green;
}

p::first-letter {
    color: red;
    font-size: 45px;
}

.capibara1,
capibara2,
capibara3 {
    height: 100px;
    width: 100px;
    background-color: violet;
}