div {
    width: 250px;
    height: 250px;
    background-color: orange;
}

p {
    color: orange;
}

.caja {
    width: 150px;
    height: 150px;
    background-color: rgb(10, 100, 50);
}

.otra_caja {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 255, 0.4);
}

.una_caja_mas {
    width: 150px;
    height: 150px;
    background-color: #1ecbe1
}